#chat.container
  ul#rooms_list.nav.nav-tabs
    li.active
      a(href="#room-chooser" data-toggle="tab") Rooms
  .tab-content
    != partial('welcome/room_chooser', { rooms: rooms })
  nav#input-navbar.navbar.navbar-fixed-bottom.navbar-default.hide
    input#send-input(type="text")