#chat.container
  ul#rooms_list.nav.nav-tabs
    li.active
      a(href="#room-chooser" data-toggle="tab")
        span.glyphicon.glyphicon-home
        span Rooms
  .tab-content
    != partial('welcome/room_chooser', { rooms: rooms })
  nav#input-navbar.navbar.navbar-fixed-bottom.navbar-default.hide
    form(role="form")
      input#send-input(type="text" required="true")