@import "bootstrap.css";
@import "bootstrap-theme.css";

border-color = #dddddd
dehighlight-color = #999999

.lighten
  background-color: #fff
.darken
  background-color: #f9f9f9

.nav-tabs > li .close
  margin   : -2px 0 0 10px
  font-size: 18px
  float    : none

.container
  width: 100%

#room-chooser
  padding-top: 20px

#rooms-content button
  width: 100%

#input-navbar
  #send-input
    width: 100%

  form,
  form > .form-group,
  form > .form-group > .input-group
    width: 100%

.room-output
  overflow-y: scroll
  padding-right: 0
  border-right: 1px solid border-color

  &::-webkit-scrollbar {
    width: 0px;
    height: 10px;
  }

  .wrapper
    min-height: 100%
    width: 100%
    border-left: 1px solid border-color
    padding-top: 10px
    padding-bottom: 5px
    display: table

    p
      display: table-row

      &.message
        span.user:after
          content: ':'

      &.day_header
        span.message
          font-size: large
          color    : dehighlight-color

      &.joined, &.left
        span:not(.time)
          color: dehighlight-color
          font-style: italic

      span
        display: table-cell
        padding-left: 10px

        &.time
          @extend .lighten
          padding-right: 10px
          border-right: 1px solid border-color
          width: 2em
        &.user
          width: 6em

.users-list
  padding-left: 0
  overflow-y: scroll

  ul.list-group
    min-height: 100%
    margin-bottom: 0
    border-left: 1px solid border-color
    border-right: 1px solid border-color

    li.list-group-item
      border-left : 0
      border-right: 0
      border-top  : 0
      border-radius: 0

      &:nth-child(odd)
        @extend .lighten
      &:nth-child(even)
        @extend .darken