@import "bootstrap.css";
@import "bootstrap-theme.css";

border-color = #dddddd
dehighlight-color = #999999

.container
  width: 100%

#room-chooser
  padding-top: 20px

#rooms-content button
  width: 100%

#send-input
  width: calc(100% - 30px)
  margin: 12px 15px

.room-output
  overflow-y: scroll

  .wrapper
    min-height: 100%
    border-left: 1px solid border-color
    padding-top: 10px
    padding-bottom: 5px
    display: table

    p
      display: table-row

      span
        display: table-cell
        padding-left: 10px
        &.time
          padding-right: 10px
          border-right: 1px solid border-color

      &.message
        span.user:after
          content: ':'

      &.day_header
        span.message
          font-size: large
          color    : dehighlight-color

      &.joined, &.left
        span:not(.time)
          color: dehighlight-color
          font-style: italic

.users-list
  overflow-y: scroll

  ul.list-group
    min-height: 100%
    margin-bottom: 0
    border-left: 1px solid border-color
    border-right: 1px solid border-color

    li.list-group-item
      border-left : 0
      border-right: 0
      border-top  : 0
      border-radius: 0